$zero: black;
$one: white;

html {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    a {
        font-size: 24px;
        color: $one;
        text-decoration: none;
        padding: 20px;
        color: $zero;
        font-weight: bold;
    }
    a#select {
        background-color: $zero;
        color: $one;
    }
}

body {
    margin: 0;
}

main#mainPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main#aboutPage, main#contactPage {
    text-align: center;
}

div {
    margin:10px;
    padding: 10px;
    width: 45%;
    min-width: 300px;
}

.article {
    border-bottom: 1px solid $zero;
}

img {
    max-width: 100%;
}

img#myPhoto {
    border-radius: 150px;
}

@media screen and (max-width: 300px) {
    div {
        width: 300px;
    }
}

section {
    position: fixed;
    right: 10px;
    bottom: 10px;

    a {
        font-size: 30px;
        color: $zero;
    }
}

footer {
    text-align: center;
    margin-top: 50px;
}