html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    font-family: arial, sans-serif;
}

html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, font, img, dl, dt, dd, ol, 
ul, li, form, label, table, tbody, tfoot,
thead, tr, th, td {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

div.wrapper {
    min-height: 100%;
    margin: 0 auto -60px;
}

// links on top of the page
header {
    color: #000;
    font: 13px/27px Arial, sans-serif;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

nav {
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap;
    background: #f1f1f1;
    font: 13px/27px Arial, sans-serif;
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    .links {
        width: 100px;
        height: 30px;
        text-align: center;

        a {
            display: inline-block;
            line-height: 24px;
            vertical-align: middle;
            color: rgba(0,0,0,0.87);
            text-decoration: none;
            font-size: 13px;
        }
        a:hover {
            text-decoration:underline;
        }
    }
}

// Advanced Search red text
.advancedSearchRed {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;

    label {
        margin-left: 10px;
    }
}

// Advanced Search Empty Fields
.advancedSearchEmptyFields {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

// 'find pages with' row
.row0 {
    width: 100%;
    clear: both;

    .row01 {
        clear: both;
    }
}

.column0 {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;

    div {
        height: 30px;
        display: table-cell;
        vertical-align: middle;
    }
}

.column1 {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.column2 {
    float: left;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;

    div {
        height: 30px;
        display: table-cell;
        vertical-align: middle;
    }
}

// media query
@media (max-width: 1056px) {
    div.column2, div.column5 {
        display: none;
    }
}

// empty box rows
.row1 {
    width: 100%;
    clear: both;

    .row10 {
        clear: both;
    }
}

div.column3 {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;

    div {
        height: 30px;
        display: table-cell;
        vertical-align: middle;
    }
}

div.column4 {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;

    div {
        padding-right: 16px;

        input {
            width: 100%;
            text-align: left;
            border-radius: 1px;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            font-size: 13px;
            height: 25px;
            padding: 1px 8px;
        }

        input:focus {
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
            border: 1px solid #4d90fe;
            outline: none;
        }
    }
}

div.column5 {
    float: left;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}

// blue button styling
input#blueButton {
        user-select: none;
        line-height: 100%;
        height: 30px;
        min-width: 120px;
        float: right;
        margin: 10px 0;
        padding: 0 12px;
        box-shadow: none;
        background-color: #4d90fe;
        border: 1px solid #3079ed;
        color: #fff;
        border-radius: 2px;
        cursor: default;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        outline: 0;
}

input#blueButton:focus {
    box-shadow: inset 0 0 0 1px #fff;
    border: rgba(0,0,0,0) solid 1px;
    outline: rgba(0,0,0,0) 0;
}