* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    background-image: linear-gradient(180deg, white, lightgray);
    background-attachment: fixed;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

i.fa-ellipsis-v {
    padding: 0 1em;
}

div.homediv:hover a.home {
    color: lightblue;
}

a {
    color: white;
    text-decoration: none;
}

nav.leftmenu, nav.rightmenu {
    background-color: black;   
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    height: 100vh;
    width: 80vw;
    text-align: left;
}

nav > div {
    border-bottom: 1px solid white;
    padding: 0.5em;
    margin: 0.5em;
}
 
nav > div a:hover {
    color: lightblue;
}

div.ads {
    border: none;
}

div.top5 ol {
    font-size: 16px;
    padding-left: 0;
}

nav.rightmenu {
    right: 0;
}

div.leftburger, div.rightburger {
    position: relative;
}

div.leftburger:hover nav.leftmenu, div.rightburger:hover nav.rightmenu {
    visibility: visible;
    opacity: 1;
}

footer {
    background-color: black;
    color: white;
    padding: 1px;
    font-weight: bold;
    text-align: center;
}
div.leftburger:hover i.fa-ellipsis-v, div.rightburger:hover i.fa-ellipsis-v {
    visibility: hidden;
}

main.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main.center article {
    width: 300px;
    height: 200px;
    box-shadow: 1px 1px 0.5em black;
    margin: 0.5em;
    padding: 0.5em;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

main.center article a {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    display: block;
    height: 80%;
    margin: 0 1em;
}

main.center article a:hover {
    color: lightblue;
    background-color: rgba(0, 0, 0, 0.5);
}

div.pagination {
    text-align: center;
}

div.pagination a {
    display: inline-block;
    color: black;
    font-weight: bold;
    padding: 0.5em;
}

div.pagination a:hover {
    background-color: lightblue;
}

div.pagination a#page1 {
    background-color: lightblue;
}

@media screen and (min-width: 576px) {
    nav.leftmenu {
        visibility: visible;
        opacity: 1;
        width: 35vw;
    }

    div.leftburger i.fa-ellipsis-v {
        visibility: hidden;
    }

    main {
        margin-left: 35vw;
    }

    nav.rightmenu {
        width: 35vw;
    }


@media screen and (min-width: 768px) {
    nav.leftmenu {
        width: 30vw;
    }

    main {
        margin-left: 30vw;
    }
    
    nav.rightmenu {
        width: 30vw;
    }
}

@media screen and (min-width: 992px) {
    nav.leftmenu {
        width: 25vw;
    }
    
    nav.rightmenu {
        visibility: visible;
        opacity: 1;
        width: 25vw
    }

    main {
        margin-left: 25vw;
        margin-right: 25vw;
    }

    div.rightburger i.fa-ellipsis-v {
        visibility: hidden;
    }
}

@media screen and (min-width: 1200px) {
    nav.leftmenu {
        width: 20vw;
    }

    main {
        margin-left: 20vw;
        margin-right: 20vw;
    }

    nav.rightmenu {
        width: 20vw
    }
}

@media screen and (min-width: 1600px) {
    header {
        font-size: 2vw;
    }
    
    main, footer, div.pagination, div.top5 ol {
        font-size: 1vw;
    }

    main.center article {
        width: 390px;
        height: 260px;
    }

    div.ads a img {
        width: 16vw;
        height: 16vw;
    }
}

@media screen and (min-width: 2160px) {
    main.center article {
        width: 600px;
        height: 400px;
    }
}

@media screen and (min-width: 4320px) {
    main.center article {
        width: 900px;
        height: 600px;
    }
}